.header{
    width:600px;
    height: auto;
    background-color: rgb(192, 200, 254);
    margin: auto;
    margin-top:-10px;
    padding: 20px;

}
body{
    background-color: gray;
}
.lists{
    padding: 20px;
    padding-left: 50px;
    transition: all 1s;
    width: 600px;
    border: 1px solid rgb(192, 200, 254);
    margin: auto;
    border-top:none ;
    background-color: white;
}
.list-title{
    font-size: 22px;
}
.tables{
    cursor: pointer;
    width: 500px;
    margin-left: 50px;
    transition: all 1s;
}
.add-btn{
    width: 60px;
    height: 30px;
    background-color: #99cafb;
    border: none;
    border-radius: 5px;
    outline: none;
}
.text-input{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 250px;
}
.line-black{
    border: 1px solid black;
}
.hide-link{
    float: right;
    margin-right: 40px;
}
.links{
    cursor: pointer;
}
.cross-btn{
    color: red;
}
.line-through{
    text-decoration: line-through;
}
.completed{
    color: green;
}

.chkbx{
    background-color: dodgerblue;
    color: white;
}